.container {
    background: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}
h1 {
    width: 10%;
}
.caja1 {
    width: 100px;
    height: 2px;
    background: rgb(233, 233, 233);
    border-radius: 3px;
}
